@import url(""https://fonts.googleapis.com/css2?family=Lora|Roboto"");

@import url("components/container.css");
@import url("components/banner.css");
@import url("components/card.css");

body {
    font-family: 'Lora', serif;
    font-size: 1em;
    margin: 0px;
    text-align: center;
    background: rgb(176, 192, 189);
    color:black;
}

h1,h2,h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}


p {
    font-size: 1em;
}

.list-inline {
    list-style: none;
    padding-left: 0px;
}   
.list-inline li{
    display: inline-block;
    padding: 10px;
    margin:5px;
    background-color: whitesmoke;
}

.a:hover {
    text-decoration:double;
  }